{% extends 'app/base_layout.html' %}

{% block main_content %}
    <div class="container">
        <h1 class="mt-5 text-center">Dashboard</h1>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <div class="card w-50">
                    <h5 class="card-header">Dashboard</h5>
                    <div class="card-body">
                        {% include 'app/_partials/alert.html' %}
                        <example-component></example-component>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}