{% extends 'app/base_layout.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container">
        <h1 class="mt-5 text-center">Password Reset</h1>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <div class="card w-50">

                   <div class="card-body">
                        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting
                        a new one.</p>

                    <form method="post">

                        {% csrf_token %}
                        {{ form |crispy }}
                        <input type="Submit" class="btn btn-info mt-2" name="Send email">

                    </form>
                   </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
