{% extends 'app/base_layout.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container">
        <h1 class="mt-5 text-center">Django Vue Starter</h1>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <div class="card w-50">
                    <h5 class="card-header">Register</h5>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
             <div class="col d-flex justify-content-center">
                 Already Registered?  <a href="{% url 'login' %}">Login</a>
             </div>
        </div>
    </div>

{% endblock %}